@import url('https://fonts.googleapis.com/css?family=Special+Elite|Rock+Salt|Audiowide');

body{
    background-image: url("https://pbs.twimg.com/profile_images/691303256379777024/xuD9T95V.jpg");
}
h1{
    background-color: rgba(0, 0, 0, 0.8);  
    color: white;
    text-align:center;  
}
*{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#canvas{
    cursor: auto;  
}